# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# FRONTEND BUILD
# =========================
frontend/dist/
frontend/build/

# =========================
# BACKEND BUILD (if any)
# =========================
backend/dist/
backend/build/